.grid {
	display: flex;
	flex-wrap: wrap;
	width: 560px;
	height: 560px;
	border: solid black;
}

.grid div {
	width: 20px;
	height: 20px;
}

.pac-dot {
	background-color: green;
	border: 5px solid white;
	box-sizing: border-box;
}

.wall {
	background-color: black;
}

.power-pellet {
	background-color: green;
	border-radius: 10px;
}

.blinky {
	background-image: url('blinky.jpg');
	border: 0px;
}

.pinky {
	background-image: url('pinky.png');
	border: 0px;
}

.inky {
	background-image: url('inky.jpg');
	border: 0px;
}

.clyde {
	background-image: url('clyde.png');
	border: 0;
}

.scared-ghost {
	background-color: aquamarine;
	border: 0px;
}

.pac-man {
	background-image: url('pacman1.png');

	border-radius: 10px;
}
